@use "./variables.scss" as *;

// put your custom CSS here!
input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: auto;
  accent-color: var(--secondary);
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 0.5rem;
}

  &:checked::before {
    transform: scale(1);
  }
}
